@model IEnumerable<MediaVoirAdmin.Models.RatingData>
@{
    ViewBag.Title = "DropdownChangeResult";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<div>
    <select class="form-control">
        <option>Choose Color</option>
        <option value="red">Red</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
    </select>
</div>

@*<table class="table table-striped box red">
        <tr>
            <th colspan="3" class="text-center" style="font-size:30px; background-color:red;color:white">First Table</th>
        </tr>
        <tr>
            <th>Sno</th>
            <th>Name</th>
            <th>Salary</th>
        </tr>
        <tr>
            <td>01</td>
            <td>Ali</td>
            <td>45000</td>
        </tr>
        <tr>
            <td>02</td>
            <td>Bilal</td>
            <td>60000</td>
        </tr>
    </table>


    <table class="table table-striped box green">
        <tr>
            <th colspan="2" class="text-center" style="font-size:30px; background-color:red;color:white">Second Table</th>
        </tr>
        <tr>
            <th>Sno</th>
            <th>Place</th>
        </tr>
        <tr>
            <td>01</td>
            <td>Karachi</td>
        </tr>
        <tr>
            <td>02</td>
            <td>Lahore</td>
        </tr>
    </table>*@


@{
    int TableOnecount = 0;

    if (ViewBag.RatingData != null)
    {
        foreach (var item in ViewBag.RatingData)
        {
            if (item.CategotyId == 8 && TableOnecount == 0)
            {
                <table class="table table-striped box red">
                    <tr>
                        <th colspan="4" class="text-center" style="font-weight:bold;background-color:black;color:white;font-family:'Times New Roman';font-size:25px">
                            Top News Shows-Time Slot Wise
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ChannelName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RatingPercentage)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ViewersPercentage)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var data in Model.Where(x => x.CategotyId == 8))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => data.ChannelName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => data.RatingPercentage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => data.ViewersPercentage)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = data.RatingId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = data.RatingId })
                            </td>
                        </tr>
                    }

                </table>
                TableOnecount = TableOnecount + 1;
            }
        }
    }
}


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("select").change(function () {
            $(this).find("option:selected").each(function () {
                var optionValue = $(this).attr("value");
                if (optionValue) {
                    $(".box").not("." + optionValue).hide();
                    $("." + optionValue).show();
                } else {
                    $(".box").hide();
                }
            });
        }).change();
    });
</script>