@model IEnumerable<MediaVoirAdmin.Models.RatingData>
@{
    /**/

    ViewBag.Title = "PakistanNewsChannelRatings";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

@{
    int TableOnecount = 0;
    int TableTwocount = 0;
    int TableThreecount = 0;
    int TableFourcount = 0;
    int TableFivecount = 0;
    int TableSixcount = 0;
    int TableSevencount = 0;

    if (ViewBag.RatingData != null)
    {
        foreach (var item in ViewBag.RatingData)
        {
            if (item.CategotyId == 4 && TableOnecount == 0)
            {
                <table class="table">
                    <tr>
                        <th colspan="4" class="text-center" style="font-weight:bold;background-color:black;color:white;font-family:'Times New Roman';font-size:25px">
                            Pakistan Entertainment Channel Ratings
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ChannelName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RatingPercentage)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ViewersPercentage)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var data in Model.Where(x => x.CategotyId == 4))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => data.ChannelName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => data.RatingPercentage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => data.ViewersPercentage)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = data.RatingId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = data.RatingId })
                            </td>
                        </tr>
                    }

                </table>

                TableOnecount = TableOnecount + 1;
            }
            if (item.CategotyId == 12 && TableTwocount == 0)
            {
                <table class="table">
                    <tr>
                        <th colspan="4" class="text-center" style="font-weight:bold;background-color:black;color:white;font-family:'Times New Roman';font-size:25px">
                            Top Entertainment Channels In Pakistan
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ChannelName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RatingPercentage)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ViewersPercentage)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var data in Model.Where(x => x.CategotyId == 12))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => data.ChannelName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => data.RatingPercentage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => data.ViewersPercentage)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = data.RatingId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = data.RatingId })
                            </td>
                        </tr>
                    }

                </table>
                TableTwocount = TableTwocount + 1;
            }

            if (item.CategotyId == 13 && TableThreecount == 0)
            {
                <table class="table">
                    <tr>
                        <th colspan="4" class="text-center" style="font-weight:bold;background-color:black;color:white;font-family:'Times New Roman';font-size:25px">
                            Top Tv Serials In Pakistan
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ChannelName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RatingPercentage)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ViewersPercentage)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var data in Model.Where(x => x.CategotyId == 13))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => data.ChannelName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => data.RatingPercentage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => data.ViewersPercentage)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = data.RatingId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = data.RatingId })
                            </td>
                        </tr>
                    }

                </table>
                TableThreecount = TableThreecount + 1;
            }

            if (item.CategotyId == 14 && TableFourcount == 0)
            {
                <table class="table">
                    <tr>
                        <th colspan="4" class="text-center" style="font-weight:bold;background-color:black;color:white;font-family:'Times New Roman';font-size:25px">
                            Top Morning Shows In Pakistan
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ChannelName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RatingPercentage)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ViewersPercentage)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var data in Model.Where(x => x.CategotyId == 14))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => data.ChannelName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => data.RatingPercentage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => data.ViewersPercentage)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = data.RatingId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = data.RatingId })
                            </td>
                        </tr>
                    }

                </table>
                TableFourcount = TableFourcount + 1;
            }

            if (item.CategotyId == 15 && TableFivecount == 0)
            {
                <table class="table">
                    <tr>
                        <th colspan="4" class="text-center" style="font-weight:bold;background-color:black;color:white;font-family:'Times New Roman';font-size:25px">
                            Top Game Shows Of Pakistan
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ChannelName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RatingPercentage)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ViewersPercentage)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var data in Model.Where(x => x.CategotyId == 15))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => data.ChannelName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => data.RatingPercentage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => data.ViewersPercentage)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = data.RatingId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = data.RatingId })
                            </td>
                        </tr>
                    }

                </table>
                TableFivecount = TableFivecount + 1;
            }

            if (item.CategotyId == 16 && TableSixcount == 0)
            {
                <table class="table">
                    <tr>
                        <th colspan="4" class="text-center" style="font-weight:bold;background-color:black;color:white;font-family:'Times New Roman';font-size:25px">
                            Top Entertainment Transmission Of Pakistan
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ChannelName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RatingPercentage)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ViewersPercentage)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var data in Model.Where(x => x.CategotyId == 16))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => data.ChannelName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => data.RatingPercentage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => data.ViewersPercentage)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = data.RatingId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = data.RatingId })
                            </td>
                        </tr>
                    }

                </table>
                TableSixcount = TableSixcount + 1;
            }

            if (item.CategotyId == 17 && TableSevencount == 0)
            {
                <table class="table">
                    <tr>
                        <th colspan="4" class="text-center" style="font-weight:bold;background-color:black;color:white;font-family:'Times New Roman';font-size:25px">
                            Top Pakistani Kids Shows
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ChannelName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RatingPercentage)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ViewersPercentage)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var data in Model.Where(x => x.CategotyId == 17))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => data.ChannelName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => data.RatingPercentage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => data.ViewersPercentage)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = data.RatingId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = data.RatingId })
                            </td>
                        </tr>
                    }

                </table>
                TableSevencount = TableSevencount + 1;
            }

        }


    }
}




